
.Home{
    width: 115px;
    margin-left: 5px;

}


#login{
    /*border: 4px solid darkgreen;*/
    margin: 0 auto;
    margin-top: 200px;
    margin-left: 70px;
    display: inline-block;
}



/*SignUP*/

#signup_content{
    /*border: 4px solid darkgreen;*/
    margin: 0 auto;
    margin-top: 130px;
    margin-left: 80px;
    display: inline-block;
    width: 300px;
}

/*Add Task*/
#add_content{

    /*border: 4px solid darkgreen;*/
    margin: 0 auto;
    margin-top: 170px;
    margin-left: 80px;
    display: inline-block;

}

#credits{
    background-image: url("../images/backgroundimage.png");
}